* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
}

img {
  width: 100%;
  height: auto;
}

.headerBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

.headerLogo {
  display: flex;
  align-items: center;
}

.logoImg {
  width: 45px;
}

.logoText {
  padding: 5px 15px;
  /* Style for "Prechu" */
  color: #000000;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 300;
  /* Text style for "Prechu" */
}

@media screen and (max-width: 640px) {
  .headerMenu {
    position: relative;
  }
  .headerMenu ul {
    background: #000;
    display: none;
    position: absolute;
    top: 26px;
    left: -77px;
  }
  .headerMenu ul li {
    display: block;
  }
  .headerMenu:hover ul {
    display: block;
  }
}

.burgerMenu {
  display: none;
  width: 58px;
  height: 44px;
  font-size: 30px;
  background-color: #5094f2;
}
@media screen and (max-width: 640px) {
  .burgerMenu {
    display: flex;
    width: 60px;
    height: 45px;
    justify-content: center;
    align-items: center;
  }
}

.headerMenu__item {
  display: inline-block;
  list-style: none;
  padding: 20px;
}
.headerMenu__item:hover {
  cursor: pointer;
  background: #373737;
}
.headerMenu__item:hover a {
  color: white;
}
.headerMenu__item a {
  color: #6c6c6c;
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
}

.bannerBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  background-image: url(../img/backgroundBanner.png);
  max-width: 1024px;
}
@media screen and (max-width: 640px) {
  .bannerBlock {
    flex-direction: column;
    justify-content: center;
  }
}

.sliderLeft button {
  max-width: 25px;
  background-color: Transparent;
  border: none;
}
@media screen and (max-width: 640px) {
  .sliderLeft {
    display: none;
  }
}

.sliderRight button {
  max-width: 25px;
  background-color: Transparent;
  border: none;
}
@media screen and (max-width: 640px) {
  .sliderRight {
    display: none;
  }
}

.bannerContent {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 640px) {
  .bannerContent {
    width: 100%;
    justify-content: center;
  }
}

.bannerPhoto {
  max-width: 345px;
}
@media screen and (max-width: 640px) {
  .bannerPhoto {
    width: 175px;
  }
}

.bannerText {
  padding-top: 110px;
  padding-left: 100px;
}
@media screen and (max-width: 640px) {
  .bannerText {
    padding-top: 0;
    padding-left: 55px;
  }
}
.bannerText__paragraph {
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 44.42px;
}
@media screen and (max-width: 640px) {
  .bannerText__paragraph {
    font-weight: 300;
    line-height: 32px;
  }
}
.bannerText__paragraph h2 {
  font-size: 46px;
}
@media screen and (max-width: 640px) {
  .bannerText__paragraph h2 {
    font-size: 30px;
  }
}
.bannerText__paragraph p {
  font-size: 26px;
  padding-top: 20px;
}
@media screen and (max-width: 640px) {
  .bannerText__paragraph p {
    font-size: 30px;
    padding-top: 15px;
  }
}
.bannerText__button {
  padding-top: 35px;
  padding-left: 15px;
}
.bannerText__button button {
  display: flex;
  justify-content: space-around;
  width: 170px;
  font-size: 22px;
  color: white;
  font-weight: 300;
  background-color: #5094f2;
  border: solid 1px transparent;
}
.bannerText__button button img {
  width: 23px;
}

main {
  border-bottom: 1px solid #e5e5e5;
}

.shopping {
  dispay: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}
@media screen and (max-width: 640px) {
  .shopping {
    padding: 35px 20px 50px 20px;
  }
}

.shoppingIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 640px) {
  .shoppingIcon {
    flex-direction: column;
  }
}

.pen {
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 400;
}
@media screen and (max-width: 640px) {
  .pen {
    margin: 0 auto;
    flex-direction: row;
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
  }
}
.pen__img {
  margin-bottom: 20px;
  max-width: 185px;
}
@media screen and (max-width: 640px) {
  .pen__img {
    max-width: 135px;
    padding-right: 25px;
  }
}
.pen__text h3 {
  color: #5094f2;
  font-size: 20px;
  line-height: 44.42px;
}
@media screen and (max-width: 640px) {
  .pen__text h3 {
    font-size: 34px;
    line-height: 51.86px;
  }
}
.pen__text p {
  color: #909090;
  font-size: 14px;
}
@media screen and (max-width: 640px) {
  .pen__text p {
    font-size: 20px;
  }
}

.tv {
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 400;
}
@media screen and (max-width: 640px) {
  .tv {
    margin: 0 auto;
    flex-direction: row;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #e5e5e5;
  }
}
.tv__img {
  margin-bottom: 20px;
  max-width: 185px;
}
@media screen and (max-width: 640px) {
  .tv__img {
    max-width: 135px;
    padding-right: 25px;
  }
}
.tv__text h3 {
  color: #5094f2;
  font-size: 20px;
  line-height: 44.42px;
}
@media screen and (max-width: 640px) {
  .tv__text h3 {
    font-size: 34px;
    line-height: 51.86px;
  }
}
.tv__text p {
  color: #909090;
  font-size: 14px;
}
@media screen and (max-width: 640px) {
  .tv__text p {
    font-size: 20px;
  }
}

.basket {
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 400;
}
@media screen and (max-width: 640px) {
  .basket {
    margin: 0 auto;
    flex-direction: row;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
  }
}
.basket__img {
  margin-bottom: 20px;
  max-width: 185px;
}
@media screen and (max-width: 640px) {
  .basket__img {
    max-width: 135px;
    padding-right: 25px;
  }
}
.basket__text h3 {
  color: #5094f2;
  font-size: 20px;
  line-height: 44.42px;
}
@media screen and (max-width: 640px) {
  .basket__text h3 {
    font-size: 34px;
    line-height: 51.86px;
  }
}
.basket__text p {
  color: #909090;
  font-size: 14px;
}
@media screen and (max-width: 640px) {
  .basket__text p {
    font-size: 20px;
  }
}

.shoppingCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 95px;
}
@media screen and (max-width: 640px) {
  .shoppingCart {
    flex-direction: column;
    padding-top: 50px;
  }
}

.shoppingLogo {
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 400;
}
.shoppingLogo__text {
  padding-bottom: 40px;
}
.shoppingLogo__text h3 {
  font-size: 42px;
  font-weight: 400;
  line-height: 44.42px;
  color: #6f7173;
}
.shoppingLogo__img {
  max-width: 370px;
}
@media screen and (max-width: 640px) {
  .shoppingLogo__img {
    max-width: 215px;
    padding-right: 25px;
  }
}

.shoppingText {
  padding-left: 80px;
  font-family: "Open Sans";
}
@media screen and (max-width: 640px) {
  .shoppingText {
    padding: 0;
  }
}
.shoppingText h3 {
  padding-bottom: 35px;
  font-size: 26px;
  font-weight: 400;
  line-height: 44.42px;
  color: #6f7173;
}
@media screen and (max-width: 640px) {
  .shoppingText h3 {
    font-size: 34px;
  }
}
.shoppingText p {
  color: #909090;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
}
@media screen and (max-width: 640px) {
  .shoppingText p {
    font-size: 17px;
  }
}

.footerContent {
  color: #909090;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 35px;
}

/*# sourceMappingURL=style.css.map */
