* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
}

img {
  width: 100%;
  height: auto;
}

.headerBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

.headerLogo {
  display: flex;
  align-items: center;
}

.logoImg {
  width: 45px;
}

.logoText {
  padding: 5px 15px;
  /* Style for "Prechu" */
  color: #000000;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 300;
  /* Text style for "Prechu" */
  //letter-spacing: 0.42px;
}

.headerMenu {
  @media screen and (max-width:800px) {
    position: relative;
    ul {
      background: #000;
      display: none;
      position: absolute;
      top: 26px;
      left: -77px;
      li {
        display: block;
      }
    }
    &:hover ul {
      display: block;
    }
  }
}

.burgerMenu {
  display: none;
  width: 58px;
  height: 44px;
  font-size: 30px;
  background-color: #5094f2;
  @media screen and (max-width:800px) {
    display: flex;
    width: 60px;
    height: 45px;
    justify-content: center;
    align-items: center;
    //background-color: #5094f2;
  }
}

.headerMenu__item {
  display: inline-block;
  list-style: none;
  padding: 20px;
  &:hover {
    cursor: pointer;
    background: #373737;
    a {
      color: white;
    }
  }
  a {
    color: #6c6c6c;
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
  }
}
.bannerBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  background-image: url(../img/backgroundBanner.png);
  max-width: 1024px;
  @media screen and (max-width:800px) {
    flex-direction: column;
    justify-content: center;
  }
}
.sliderLeft {
  button {
    max-width: 25px;
    background-color: Transparent;
    border: none;
  }
  @media screen and (max-width:800px){
  display: none;
  }
}
.sliderRight {
  button {
    max-width: 25px;
    background-color: Transparent;
    border: none;
  }
  @media screen and (max-width:800px){
    display: none;
  }
}

.bannerContent {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width:800px) {
    //flex-direction: column;
    width: 100%;
    justify-content: center;
  }
}

.bannerPhoto {
  max-width: 345px;
  @media screen and (max-width:640px) {
    width: 175px;
  }
}

.bannerText {
  padding-top: 110px;
  padding-left: 100px;
  @media screen and (max-width:800px) {
    padding-top: 0;
    padding-left: 55px;
  }
  &__paragraph {
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 400;
    line-height: 44.42px;
    @media screen and (max-width:800px) {
      font-weight: 300;
      line-height: 32px;
    }
    h2 {
      font-size: 46px;
      @media screen and (max-width:800px) {
        font-size: 30px;
      }
    }
    p {
      font-size: 26px;
      padding-top: 20px;
      @media screen and (max-width:800px) {
        font-size: 30px;
        padding-top: 15px;
      }
    }
  }
  &__button {
    padding-top: 35px;
    padding-left: 15px;
    button {
      display: flex;
      justify-content: space-around;
      width: 170px;
      font-size: 22px;
      color: white;
      font-weight: 300;
      background-color: #5094f2;
      border: solid 1px transparent;
      img {
        width: 23px;
      }
    }
  }
}

main {
  border-bottom: 1px solid #e5e5e5;
}

.shopping {
  dispay: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  @media screen and (max-width:800px) {
    padding: 35px 20px 50px 20px;
  }
}

.shoppingIcon {
  display:flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width:800px) {
    flex-direction: column;
  }
}

.pen {
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 400;
  @media screen and (max-width:800px) {
    flex-direction: row;
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
  }
  &__img {
    margin-bottom: 20px;
    max-width: 185px;
    @media screen and (max-width:800px) {
      max-width: 135px;
      padding-right: 25px;
    }
  }
  &__text {
    h3 {
      color: #5094f2;
      font-size: 20px;
      line-height: 44.42px;
      @media screen and (max-width:800px){
        font-size: 34px;
        line-height: 51.86px;
      }
    }
    p {
      color: #909090;
      font-size: 14px;
      @media screen and (max-width:800px) {
        font-size: 20px;
      }
    }
  }
}

.tv {
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 400;
  @media screen and (max-width:800px) {
    flex-direction: row;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #e5e5e5;
  }
  &__img {
    margin-bottom: 20px;
    max-width: 185px;
    @media screen and (max-width:800px) {
      max-width: 135px;
      padding-right: 25px;
    }
  }
  &__text {
    h3 {
      color: #5094f2;
      font-size: 20px;
      line-height: 44.42px;
      @media screen and (max-width:800px){
        font-size: 34px;
        line-height: 51.86px;
      }
    }
    p {
      color: #909090;
      font-size: 14px;
      @media screen and (max-width:800px) {
        font-size: 20px;
      }
    }
  }
}

.basket {
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 400;
  @media screen and (max-width:800px) {
    flex-direction: row;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
  }
  &__img {
    margin-bottom: 20px;
    max-width: 185px;
    @media screen and (max-width:800px) {
      max-width: 135px;
      padding-right: 25px;
    }
  }
  &__text {
    h3 {
      color: #5094f2;
      font-size: 20px;
      line-height: 44.42px;
      @media screen and (max-width:800px){
        font-size: 34px;
        line-height: 51.86px;
      }
    }
    p {
      color: #909090;
      font-size: 14px;
      @media screen and (max-width:800px) {
        font-size: 20px;
      }
    }
  }
}

.shoppingCart {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 95px;
  @media screen and (max-width:800px) {
    flex-direction: column;
    padding-top: 50px;
  }
}

.shoppingLogo {
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 400;
  &__text {
    padding-bottom: 40px;
    h3 {
      font-size: 42px;
      font-weight: 400;
      line-height: 44.42px;
      color: #6f7173;
    }
  }
  &__img {
    max-width: 370px;
    @media screen and (max-width:800px) {
      max-width: 215px;
      padding-right: 25px;
    }
  }
}

.shoppingText {
  padding-left: 80px;
  font-family: "Open Sans";
  @media screen and (max-width:800px) {
    padding: 0;
  }
  h3 {
    padding-bottom: 35px;
    font-size: 26px;
    font-weight: 400;
    line-height: 44.42px;
    color: #6f7173;
    @media screen and (max-width:800px) {
      font-size: 34px;
    }
  }
  p {
    //padding-bottom: 20px;
    //mast to check!!
    color: #909090;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    @media screen and (max-width:800px) {
      font-size: 17px;
    }
  }
}

.footerContent {
  color: #909090;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 35px;
}
